{% extends "_base_error.html" %}

{% block content %}
  {% block error_heading %}
    Server Error <span>:(</span>
  {% endblock %}

  {% block error_body  %}
    <p>Sorry, but your request was forbidden by the server.</p>
  {% endblock %}
{% endblock  %}
