{% extends "_base.html" %}

{% block content %}
<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    {% block error_heading %} 404 error{% endblock %}
    {% block error_body %}
      Dear visitor. You stumbled upon one of our error pages
      We would like to apologize for the fact that you got here. It seems you were
      looking for a page that does not exist in this system. It could have been
      moved or deleted.
    {% end block %}
  </div>
</div>
{% endblock %}
