{% extends "_base.html" %}

{% block content %}
<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    {% block error_heading %}{% endblock %}
    {% block error_body %}{% endblock %}
  </div>
</div>
{% endblock %}
