{% extends "_base.html" %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1>Find your perfect job today!</h1>
    <p>Join our database of over 10000 job seekers and 4500 job matches</p>
    <p>Over 200 employers all over Kenya use Duma Works to find talent and grow their organisations</p>
    {% if user.is_authenticated %}
    <p>
      <a href={% url 'jobs:new' %}>
        <button type="button" class="btn btn-primary btn-lg">Post job</button>
      </a>
    </p>
    {% else %}
    <p>
      <a class="btn btn-primary btn-lg" role="button" href={% url 'accounts:signup' %} >
        Sign up &raquo;</a>
    </p>
    {% endif %}
  </div>
</div>


<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2><span class="label label-info">Source</span></h2>
      <p>Tell us about yourself and your ideal hire. We’ll quickly match you
        with a great group of potential colleagues.</p>
    </div>
    <div class="col-md-4">
      <h2 ><span class="label label-info">Screen</span></h2>
      <p>We’ll screen all the candidates for skills and personality to save
        you the hassle of interviewing or even hiring the wrong person.</p>
    </div>
    <div class="col-md-4">
      <h2 ><span class="label label-info">Hire</span></h2>
      <p>Choose your favorite person from our solid roster of qualified,
        recommended candidates and enjoy the growth that follows
        .</p>
    </div>
  </div>
  <!-- latest jobs -->
    {% include "generic/list_snippet.html" %}
</div>

{% endblock %}
