{% load bootstrap3 %}
<div class="col-xs-4">
  <form role="form" method="post" action="{{ form_action_url }}">{% csrf_token %}
    <fieldset>
      <legend>{{ form_title|default:"Form Title" }}</legend>
      {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      <div class="alert alert-error">{{ error }}</div>
      {% endfor %}
      {% endif %}

      {{ form.media }}
      {% bootstrap_form form  %}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn" href="{{ form_cancel_url|default:'javascript:history.go(-1)' }}">Cancel</a>
      </div>
    </fieldset>
  </form>
</div>
