<h2>{{ table_title|title|default:"Table Title" }}</h2>
<table class="table generic table-striped table-bordered table-compress">
{% for object in object_list %}
{% if object|length_is:"2" %}
    {% if forloop.first %}
    <thead>
    <tr>
        <th><h3>Field</h3></th>
        <th><h3>Value</h3></th>
    </tr>
    </thead>
    <tbody>
    {% endif %}
        <tr>
            <td><strong>{{ object.0|title }}</strong></td>
            <td>{{ object.1 }}</td>
        </tr>
{% else %}
    {% if forloop.first %}
    <thead>
    <tr>
        <th><h3>#</h3></th>
        <th><h3>{{ column_title|default:"Column Title" }}</h3></th>
    </tr>
    </thead>
    <tbody>
    {% endif %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            {% if object.title %}
            <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
            {% else %}
              {{ object.name }}
            {% endif  %}
          </td>
        </tr>
{% endif %}
{% endfor %}
    </tbody>
</table>
