<div class="container">
  <hr>
  <p class="pull-left">&copy; {{settings.PROJECT_NAME}} 2014</p>
  <p class="pull-right">Have questions? Call us at +254 701 060302 or email jobs@dumaworks.com</p>
</div>
