<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"><a href={% url 'homepage' %}>Home</a></span>
        <span class="icon-bar"><a href={% url 'accounts:profile' %}>My Account</a></span>
        <span class="icon-bar"><a href={% url 'accounts:logout' %}>logout</a></span>
      </button>
      <a class="navbar-brand" href={% url 'homepage' %}>{{settings.PROJECT_NAME}}</a>
    </div>
    {% if user.is_authenticated %}
      {% include "_partials/user_menu.html" %}
    {% else  %}
      {% include "_partials/user_login.html" %}
    {% endif %}
  </div>
</div>
  <div class="container-fluid">
  <div class="row">
    {% block messages %}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endblock %}
  </div>
</div>
