{% load bootstrap3 %}
{% load dumawerkz_extras %}
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class={% active_page request 'homepage' %}>
      <a href={% url 'homepage' %} >Home</a>
    </li>
    <li class="dropdown {% active_page request 'profile' %}">
      <a href="{% url 'accounts:profile' %}" class="dropdown-toggle" data-toggle="dropdown">My Account <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{% url 'accounts:profile' %}">View Profile</a></li>
          <li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
          <li><a href="{% url 'accounts:password_change' %}">Change Password</a></li>
          <li class="divider">Jobs</li>
          <li><a href="{% url 'jobs:posted' %}">Jobs posted</a></li>
          <li><a href="{% url 'jobs:bookmarks' %}">Jobs bookmarked</a></li>
          <li><a href="{% url 'jobs:applied' %}">Jobs applied</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'accounts:delete' %}">Delete Account</a></li>
        </ul>
      </li>
    <li>
      <a href={% url 'accounts:logout' %}>Logout</a>
    </li>
  </ul>
  <form class="navbar-form navbar-right" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div><!-- /.navbar-collapse -->
