<div class="navbar-collapse collapse">
  <form class="navbar-form navbar-right" method="post" action={% url 'accounts:login' %}>
    {% csrf_token %}
    <div class="form-group">
      <input class="form-control" id="id_username" name="username"
             placeholder="E-mail or usernams" required="required" title="" type="text">
    </div>
    <div class="form-group">
      <input class="form-control" id="id_password" name="password"
             placeholder="Password" required="required" title="" type="password">
    </div>
    <button type="submit" class="btn btn-success">Sign in</button>
  </form>
</div><!--/.navbar-collapse -->
