{% extends "_base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
    <form action="" method="post">
      {% csrf_token %}
      {{ form.media }}
      {% bootstrap_form form %}
      <input type="submit" value="Create" />
    </form>
    </div>
  </div>
</div>
{% endblock %}
