{% extends "_base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    {% include "jobs/job_snippet.html" with job=object %}

    {% if user.is_authenticated and user.id == object.user.id %}
    {% include "generic/list_snippet.html" with object_list=job_applicants table_title="Job Applicants" column_title="Applicant" %}
    {% endif %}
  </div>
</div>
{% endblock %}
