<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-10">
    <div class="thumbnail">
      <!-- display map here-->
    </div>
    <div class="caption">
      <h3>{{ job.title }}</h3>
      <p>
        <span class="label label-default">Skills: </span>{{ job.skills }} <br/>
        <span class="label label-default">Working hours: </span>{{ job.get_hours_display  }} <br/>
        <span class="label label-default">Experience: </span>{{ job.get_experience_display }}<br/>
        <span class="label label-default">Salary: </span>{{ job.salary }} <br/>
        <span class="label label-default">Country: </span>{{ job.country }} <br/>
      </p>
      <p>
        <a href={% url 'jobs:apply' job.id %} class="btn btn-primary"
           role="button">Apply for this job</a>
        <a href={% url 'jobs:bookmark' job.id %} class="btn btn-default" role="button">Bookmark</a></p>
    </div>
  </div>
</div>
</div>
