{% extends "_base.html" %}
{% block content %}


<div class="container">
  <div class="well">
    <strong>My Profile</strong> (<a href={% url 'accounts:edit_profile' %}>Edit</a> | <a href={% url 'accounts:password_change' %}>Change Password</a>)<br>
    Email: {{ user.email }}

  </div>
</div>

{% endblock %}
